<script>
// $(function() {
// function displayVals(value) {
//   console.log(value)
//    $( "#alfakwasy" ).val(value);
// }
// });
function parseToInt(value){
  console.log(value)
  return parseInt(value);
}
function checkInput(textbox) {
 var textInput = $( "#alfakwasy" ).val(value);

 alert(textInput); 
}
</script>

 <div class="allForm">
 <h1 id="tytul_kalkulator">Kalkulator wskaźnika IBU, przelicznik IBU podczas gotowania</h1>

<div class="form-style-5" ng-controller="ibuController">
<form  id="form1" name="form1" class="form-wrapper" method="post" ng-submit="form1.$valid && submit(form1)" novalidate>
  <div id ="first">
    <label for="iloscBrzeczki">Ilość brzeczki w (L)</label>
<!--     <input required  id="iloscBrzeczki"type="number" value="{18.93}" size="24" ng-init="ibuController.iloscBrzeczki=18.93" ng-model="ibuController.iloscBrzeczki"/> -->
    <input required  id="iloscBrzeczki"type="number" size="24" ng-model="ibuController.iloscBrzeczki"/>
<!--      <span class="help-block" ng-show="ibuController.errorName"></span>  -->
  </div>
  <!-- <div>
    <label for="czasGotowania">Czas gotowania</label>
    <input required id="czasGotowania" type="number" value="{60}" size="24" ng-init="ibuController.czasGotowania=60" ng-model="ibuController.czasGotowania"/>
  </div> -->
  <div>
    <label for="gestoscBrzeczki">Gęstość Brzeczki (Plato)</label>
<!--     <input required id="gestoscBrzeczki" type="number" value="{12.38}" size="24" ng-init="ibuController.gestoscBrzeczki=12.38" ng-model="ibuController.gestoscBrzeczki" /> -->
    <input required id="gestoscBrzeczki" type="number" size="24" ng-model="ibuController.gestoscBrzeczki" />
    </div>
    <fieldset  data-ng-repeat="choice in choices">
    <hr/>
       <!-- { choice } -->
<!-- end start and remove -->
  <div style="width:0px; padding-left:80px">
    <label style="padding:8px 10px 0px 0px;" for="nazwaChmielu">Nazwa {choice.id}</label>
    <!-- <select onchange="displayVals(this.value)" id="brew_styles" style="height:42px; display:inline-block"> -->
    <select id="brew_styles" ng-model="option" ng-init="option" style="height:42px; display:inline-block" data-ng-change="form1.$valid && submit(form1)" ng-options="option.value as option.name for option in options" >
</select>
  </div>
  <div>
    <label for="alfakwasy">% Alfakwsów</label><p></p>
<!--     <input required id="alfakwasy" type="number" value="6" size="24" ng-init="choice.alfakwasy=6" ng-model="choice.alfakwasy"/> value="{option}"-->
    <input required id="alfakwasy" type="number" size="24" ng-model="choice.alfakwasy" data-ng-change="form1.$valid && submit(form1)"/>
  </div>
  <div>
    <label for="iloscChmielu">Ilość chmielu w g</label><p></p>
    <input required id="iloscChmielu" type="number" size="24" ng-model="choice.iloscChmielu" data-ng-change="form1.$valid && submit(form1)"/>
  </div>
  <div>
    <label for="czasGotowania">Czas gotowania</label><p></p>
    <input required id="czasGotowania" type="number" size="24" ng-model="choice.czasGotowania" data-ng-change="form1.$valid && submit(form1)"/>
  </div>
  <b><div id='ibuSinge{choice.ibuSingeHop}' ng-model="choice.ibuSingeHop"></div></b>

<!-- start add and remve -->
<!--   <div id="buttons" style="margin-top:40px"> -->
    <input type="button" class="remove" ng-show="$last" ng-hide="hideRetry()" value="Usuń chmiel" ng-click="removeChoice()"/>

   <input type="button" class="addfields" value="Dodaj kolejny chmiel" ng-click="addNewChoice()"/>
<!--     </div> -->
<!--     <div id='ibuSinge{choice.ibuSingeHop}' ng-model="choice.ibuSingeHop"></div> -->

   </fieldset>
 
  <div id="buttons">
    <input type="submit" name="submit_1" value="Submit"/>
    <input type="reset" name="reset" value="Reset" />
  </div>
</form>
</div>
<div id="loader2"></div>
<div id="response"></div>

</div>

