<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>{{{title}}}</title>

    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/jquery.mmenu.all.css?v=6" />
    <link type="text/css" rel="stylesheet" href="/public/css/jquery.mmenu.widescreen.css?v=6" media="all and (min-width: 650px)" />
    <link type="text/css" rel="stylesheet" href="/public/css/form.css" media="all and (min-width: 650px)" />
    <link type="text/css" rel='stylesheet' href='/public/css/nprogress.css'/>

    <script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="/public/js/parsley.min.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular/angular.js"></script>
    <script type="text/javascript" src="/public/bower_components/angular-ui-router/release/angular-ui-router.js"></script>
    <script type="text/javascript" src="/public/controllers/controller.js"></script>
    <!-- kudos -->
    <script type="text/javascript" src="/public/kudos/jquery.cookie.js"></script>
    <script type="text/javascript" src="/public/kudos/kudos.js"></script>
    <script type="text/javascript" src="/public/kudos/kudosScript.js"></script>
    <link href="/public/kudos/kudos.css" media="screen" rel="stylesheet" type="text/css" />

    <!-- end kudos -->

    <!-- comments -->
    <script type="text/javascript" src="/public/disqus/disqus.js"></script>
    <noscript>Please enable JavaScript to view the <a href="https://disqus.com/?ref_noscript">comments powered by Disqus.</a></noscript>
    <!-- end comments -->
        

    </script>
       <style type="text/css">
      @media all and (min-width: 650px) {
        a[href="#menu"] {
          display: none;
        }
        .content {
          background: none;
        }
      }
    </style>
  <!--[if IE ]>
  <script type="text/javascript">
  jQuery(function ($) {
  alert('aaaaaa');
  });
  </script>
<![endif]-->
    <script type="text/javascript">

    // Hack - Back button (IE9)
jQuery(function ($) {
if ($('html').hasClass('ie9')) {
$('.mm-header .mm-btn').on('click', function() {
$('.mm-panel').removeClass('mm-current').removeClass('mm-opened');
});
}

console.log(window.location.href);
console.log(window.location.href.indexOf("http://beer-calc.pl/kontakt"));
if(window.location.href.indexOf("http://beer-calc.pl/kontakt") == 0)
        {
    console.log(window.location.href)
             $("#menu li#kontakt").addClass("Selected");
        }

//if ( window.location.href == 'http://beer-calc.pl/zawartoscAlkoholu' ){
//        $('#menu ul li:first-child').addClass('Selected');
//   }
/*$('#menu ul li').click(function() {
alert('s');
   $('#menu ul li').removeClass('Selected');
    $('#menu ul li').addClass('Selected');
});*/
});
      $(function() {
        $("#menu")
          .mmenu({
             "slidingSubmenus": true,
            extensions: ["widescreen","theme-dark"],          
      counters  : true,
      searchfield  : true,
            navbar: {
              title: "Kalkulator piwny"
            },
      navbars    : [
        {
          position  : 'top',
          content    : [ 'searchfield' ]
        }, {
          position  : 'top',
          content    : [
            'prev',
            'title'
          ]
        }, {
          position  : 'bottom',
          content    : [
            '<b>Kalkulator</b>'
          ]
        }
      ]
          },{
         // configuration
         offCanvas: {
            pageNodetype: "page"
         }
      });
      });
    </script>
    <script>
  (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
  m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
  })(window,document,'script','https://www.google-analytics.com/analytics.js','ga');

  ga('create', 'UA-80280255-1', 'auto');
  ga('send', 'pageview');

      </script>

<!-- fb -->
<script>
$(document).ready(function()
{
    var slider_width = $('.pollSlider').width();//get width automaticly
  $('#pollSlider-button').click(function() {
    if($(this).css("margin-right") == slider_width+"px" && !$(this).is(':animated'))
    {
        $('.pollSlider,#pollSlider-button').animate({"margin-right": '-='+slider_width},'slow','easeOutBounce');
    }
    else
    {
        if(!$(this).is(':animated'))//perevent double click to double margin
        {
            $('.pollSlider,#pollSlider-button').animate({"margin-right": '+='+slider_width},'slow','easeInQuart');
        }
    }


  });
 });     
</script>
<!-- end fb -->

    <script type="text/javascript" src="/public/js/nprogress.js"></script>
    <script type="text/javascript" src="/public/js/beer_script.js"></script>
    <script type="text/javascript" src="http://cdnjs.cloudflare.com/ajax/libs/jquery-easing/1.3/jquery.easing.min.js"></script>
    <script async src="//pagead2.googlesyndication.com/pagead/js/adsbygoogle.js"></script>
    <script type="text/javascript" src="public/js/cookies.js"></script>
    <script>
      (adsbygoogle = window.adsbygoogle || []).push({
        google_ad_client: "ca-pub-2868990924437933",
        enable_page_level_ads: true
      });
    </script>
  </head>
  <body ng-app="myApp">

        <!-- fanpage box -->
        <div id="fb-root"></div>
<script>(function(d, s, id) {
  var js, fjs = d.getElementsByTagName(s)[0];
  if (d.getElementById(id)) return;
  js = d.createElement(s); js.id = id;
  js.src = "//connect.facebook.net/pl_PL/sdk.js#xfbml=1&version=v2.8";
  fjs.parentNode.insertBefore(js, fjs);
}(document, 'script', 'facebook-jssdk'));</script>
    <nav id="menu">
        <ul>
          <li class="main"><a href="/">Strona główna</a></li>
          <li><span>O mnie</span>
            <ul>
              <li><a href="#/about/history">Historia mojego warzenia</a></li>
<!--               <li><span>Nasz zespół</span>
                <ul>
                  <li><a href="#/about/team/management">Tylko Ja</a></li>
                  <li><a href="#/about/team/sales">Tylko Ja</a></li>
                  <li><a href="#/about/team/development">Tylko Ja</a></li>
                </ul>
              </li> -->
              <li id="kontakt"><a href="/kontakt">Kontakt</a></li>
            </ul>
          </li>
          <li><a href="/ileDolacWody">Ile dolac wody/cukru do piwa</a></li>
          <li><a href="/ileDodacCukru">Ile dodac cukru do refermentacji</a></li>
          <li><a href="/obliczIBU">Obliczanie IBU</a></li>
          <li><a href="/wydajnoscZacierania">Obliczanie wydajności zacierania</a></li>
          <li><a href="/korektaReflektometr">Korekta reflektometru przefermentowanej brzeczki</a></li>
          <li id="zawartosc"><a href="/zawartoscAlkoholu">Zawartosc alkoholu w gotowym piwie</a></li>
        </ul>
    </nav>
    <div id="page">
    <!-- <div id="page"> -->
      <div class="header">
        <a href="#menu"></a>
        {{{barTitle}}}
      </div>
      <div id="loader"></div>
      <div class="content">
      <div class="pollSlider"><div class="fb-page" data-href="https://www.facebook.com/beercalc" data-tabs="timeline" data-width="300" data-small-header="false" data-adapt-container-width="true" data-hide-cover="false" data-show-facepile="true"><blockquote cite="https://www.facebook.com/beercalc" class="fb-xfbml-parse-ignore"><a href="https://www.facebook.com/beercalc">Beer-calc, kalkulator piwny</a></blockquote></div></div>
      <div id="pollSlider-button"></div>
              <script type="text/javascript">
              NProgress.configure({ minimum: 0.1 });
    NProgress.start();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);

    </script>
      {{{content}}}   
    <figure class="kudo kudoable" data-id="1">
        <a class="kudobject">
          <div class="opening"><div class="circle">&nbsp;</div></div>
        </a>
        <a href="#kudo" class="count">
          <span class="num"></span>
          <span class="txt">No to zdrówko</span>
        </a>
    </figure>      
    </div>
  </div>
  </body>
</html>
