

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="author" content="www.frebsite.nl" />
    <meta name="viewport" content="width=device-width initial-scale=1.0 maximum-scale=1.0 user-scalable=yes" />
    <title>{{title}}</title>

    <link type="text/css" rel="stylesheet" href="/public/css/style.css" />
    <link type="text/css" rel="stylesheet" href="/public/css/jquery.mmenu.all.css?v=6" />
    <link type="text/css" rel="stylesheet" href="/public/css/jquery.mmenu.widescreen.css?v=6" media="all and (min-width: 650px)" />
    <link type="text/css" rel="stylesheet" href="/public/css/form.css" media="all and (min-width: 650px)" />
    <style type="text/css">
      @media all and (min-width: 650px) {
        a[href="#menu"] {
          display: none;
        }
        .content {
          background: none;
        }
      }
    </style>

    <script type="text/javascript" src="/public/js/jquery-1.8.3.min.js"></script>
    <script type="text/javascript" src="/public/js/jquery.mmenu.all.min.js"></script>
    <script type="text/javascript" src="/public/js/parsley.min.js"></script>
    <!-- <script type="text/javascript" src="/public/js/script.js"></script> -->

    <script type="text/javascript">
      $(function() {
        $("#menu")
          .mmenu({
            extensions: ["widescreen","theme-dark"]
          });
      });
    </script>

    <script type="text/javascript" src="/public/js/nprogress.js"></script>
    <link rel='stylesheet' href='/public/css/nprogress.css'/>

  </head>
  <body>
    <div id="page">
      <div class="header">
        <a href="#menu"></a>
        Strona główna
      </div>
      <div id="loader"></div>
      <div class="content">
              <script type="text/javascript">
              NProgress.configure({ minimum: 0.1 });
    NProgress.start();
    setTimeout(function() { NProgress.done(); $('.fade').removeClass('out'); }, 1000);

    </script>
      {{{content}}}         
    </div>
    <nav id="menu">
        <ul>
          <li><a href="/">Strona główna</a></li>
          <li><span>O mnie</span>
            <ul>
              <li><a href="#/about/history">Historia mojego warzenia</a></li>
              <li><span>Nasz zespół</span>
                <ul>
                  <li><a href="#/about/team/management">Tylko Ja</a></li>
                  <li><a href="#/about/team/sales">Tylko Ja</a></li>
                  <li><a href="#/about/team/development">Tylko Ja</a></li>
                </ul>
              </li>
              <li><a href="#/about/address">Kontakt</a></li>
            </ul>
          </li>
          <li><a href="/ileDolacWody">ileDolacWody</a></li>
          <li><a href="/ileDodacCukru">ileDodacCukru</a></li>
          <li><a href="#">Butelkowanie</a></li>
        </ul>
    </nav>

  </body>
</html>
