html, body
{
  padding: 0;
  margin: 0;
}
html
{
  height: 100%;
}

body {
  background-color: #fff;
  font-family: Arial, Helvetica, Verdana;
  line-height: 22px;
  color: #666;
  min-height: 100%;
  position: relative;
  -webkit-text-size-adjust: none;
}
body *
{
  text-shadow: none;
}
h1, h2, h3, h4, h5, h6
{
  line-height: 1;
  font-weight: bold;
  margin: 20px 0 10px 0;
}
h1, h2, h3
{
  font-size: 18px;
}
h4, h5, h6
{
  font-size: 16px;
}
p
{
  margin: 0 0 10px 0;
}
a, a:link, a:active, a:visited, a:hover
{
  color: #333;
  text-decoration: underline;
}
a.button,
span.button,
select,
input[type="text"]
{
  box-sizing: border-box;

  border-radius: 5px;
  text-transform: none;
  text-indent: 0;
  font-weight: bold;
  vertical-align: middle;
  line-height: 20px;
  display: block;
  height: 40px;
  width: 100%;
  padding: 10px;
}
a.button,
span.button
{
  background: #4BD963;
  color: #fff !important;
  font-size: 18px;
  text-align: center;
  text-decoration: none;
}
select,
input[type="text"]
{
  background: #fff;
  border: 1px solid #ccc;
}
.mm-divider.button
{
  text-indent: 0 !important;
  padding: 20px 20px 40px 20px !important;
}

pre
{
  font-size: 12px;
  width: 100%;
  overflow: auto;
  -webkit-overflow-scrolling: touch;
}
nav:not(.mm-menu)
{
  display: none;
}

.header,
.content,
.footer
{
  text-align: center;
}
#page {
  margin-left:30%;
  }


  .header,
  .footer
  {
    background: #333;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 50px;
  } 


.header.mm-slideout
{
  position: fixed;
  top: 0;
  left: 0;
}
.header a
{
  background: center center no-repeat transparent;
  background-image: url( data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAADhJREFUeNpi/P//PwOtARMDHQBdLGFBYtMq3BiHT3DRPU4YR4NrNAmPJuHRJDyahEeT8Ii3BCDAAF0WBj5Er5idAAAAAElFTkSuQmCC );

  display: block;
  width: 40px;
  height: 40px;
  position: absolute;
  top: -4px;
  left: 0px;
}
.header a.contacts
{
  background-image: url(data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAABkAAAAZCAYAAADE6YVjAAAAGXRFWHRTb2Z0d2FyZQBBZG9iZSBJbWFnZVJlYWR5ccllPAAAAVNJREFUeNq01jFLAzEYxvH2UBCxiIiDUhzcdXCyIk5ufgUXLR37JdxcXBxcuwmOOtml0EKpo04iWIpIQREVEVFLjf9AhoC9e3O5uxd+lMLdPU1yedO8UiqXdQWO122ghi4+8IwGqiiId+uRCHbxqsLrFHNRz5ACSnhTch1EPScQpnIH0w7TWcGiz5rouS45rtkMVnxCJrAQ4yUq+oT8YhAjZOAT8oWHGCE9nxC9H64cA15w4xOiW0HbfErVNhvUa8c3cecQcoZv3xA9z+fCNbe4SNq7jvEUMaUnuE/au7SjkHbSR1G637ULh73Kn+gn7cIBttELGckQh9Jo8iMOrSksYx2b2MKk8FuvUUcHl/9GbiWuooYu3pVf/eARLZQxbp8na2YR0659e+HLmM/geN+z98lSRv8hZu2QQkYh+kzKjZkvHdPahymH6DNp5Cucev0JMAAkKj0NEoYBJwAAAABJRU5ErkJggg==);
}
.header a.right
{
  left: auto;
  right: 20px;
}
.content
{
  background: url( menu-arrow.png ) 40px 15px no-repeat transparent;
  position: relative;
}
.header.mm-fixed + .content
{
  background-position: 25px 55px;
}

.messages
{
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  z-index: 10;
}
.messages div
{
  color: rgba( 0, 0, 0, 0.5 );
  line-height: 18px;
  padding: 10px 20px;
}
.messages .error
{
  background: rgb( 255, 225, 225 );
  border-bottom: 1px solid rgb( 255, 150, 150 );
}
.messages .warn
{
  background: rgb( 255, 255, 200 );
  border-bottom: 1px solid rgb( 200, 200, 150 );
}

html.mm-opened.mm-effect-zoom-menu body
{
  background: #f3f3f3;
}
html.mm-opened.mm-effect-zoom-menu.mm-theme-dark body
{
   background: #333;
}
html.mm-opened.mm-effect-zoom-menu.mm-theme-black body
{
  background: #000;
}
html.mm-opened.mm-effect-zoom-menu.mm-theme-white body
{
  background: #fff;
}
html.mm-opened.mm-effect-zoom-menu .mm-page
{
  background-color: #fff;
}

.mm-menu li .fa
{
  margin: 0 20px 0 5px;
  font-size: 16px;
  width: 12px;
}
.mm-menu li[class*="mm-tile"] .fa
{
  margin: 0;
  line-height: 0;
}

.mm-menu .buttonbar-item:after
{
  content: none !important;
  display: none !important;
}



li {
  cursor: pointer;
}
#loader {
  width: 64px;
  height: 64px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #30C29E;
  border-left-color: #30C29E;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
  position: fixed;
  top:20%;
    left:60%;
    display: none;

}
#loader2 {
  width: 32px;
  height: 32px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #30C29E;
  border-left-color: #30C29E;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
    margin-left:50%;
    display: none;

}
ul li {-webkit-tap-highlight-color:rgba(0,0,0,.1);tap-highlight-color:rgba(0,0,0,.1)}

#tytul_kalkulator {
  padding:20px;
}

#response {
  font-weight: 600;
  font-size:18px;
}
#disqus_thread {
  width:80%;
  margin: 40px auto 0px;
}

.header,
  .footer
  {
    background: #333;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 30px;
    padding: 0 50px;
  } 


#alfakwasy, #czasGotowania, #iloscChmielu {
  width:40px; float:left;    text-align: center;
}

.form-style-5 fieldset div {
  margin-top:20px;
  padding:0px 6px 0px 6px ;
}

.form-style-5 fieldset label {
  width:130px;
}
#brew_styles {
  width:auto; text-align: center;
}

input.remove, input.addfields {
  margin-top: 20px;
}
.ibuSingle {
  margin-top: 60px;
}
/*fb slider css*/
.pollSlider{
    position:fixed;
    height:auto;
    background:red;
    width:300px;
    right:0px;
    margin-right: -300px;
}
#pollSlider-button{
    position:fixed;
    width:50px;
    height:50px;
    right:0px;
    background:url("../img/facebook_logo.png");
    cursor: pointer;
/*    top:300px;*/
}
/* end fb slider css*/

/*********************************************************************************************************************************************************/
/*
** 6 - Responsive
*/
/* 6.2 Max Width: 1024px */
@media only screen and (max-width: 1024px) {
  #alfakwasy, #czasGotowania, #iloscChmielu {
  width:20px; float:left;    text-align: center;
}

}


@media only screen and (max-width: 850px) {
  #alfakwasy, #czasGotowania, #iloscChmielu {
  width:200px; float:none;    text-align: center;
}
.ibuSingle {
  margin:0px;
}

.pollSlider{
    width:300px;
    margin-right: -300px;
}
#pollSlider-button{
    width:50px;
    height:50px;
    right:0px;
    background:url("../img/facebook_logo.png");
    cursor: pointer;
    margin-top: 60px;
/*    top:300px;*/
}

#page {
  margin-left:30%;
  }
  .header,
  .footer
  {
    background: #333;
    font-size: 16px;
    font-weight: bold;
    color: #fff;
    line-height: 30px;
    
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    box-sizing: border-box;
    
    width: 100%;
    height: 30px;
    padding: 0 50px;

  } 
  /*poprawic jak bedzie czas*/
.form-style-5{
    max-width: 600px;
    padding: 10px 20px;
    background: #f4f7f8;
    margin: 10px auto;
    padding: 20px;
    background: #f4f7f8;
    border-radius: 8px;
    font-family: Georgia, "Times New Roman", Times, serif;
}
.form-style-5 fieldset{
    border: none;
}
.form-style-5 legend {
    font-size: 1.4em;
    margin-bottom: 10px;
}
.form-style-5 label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
/*    float: left;*/
    padding-top: 5px;
    text-align: center;
    width: auto;
}
.form-style-5 div {
    padding-bottom: 4%;
}
/*#first input{
margin-bottom: 4%;
margin-top: 0px;
}*/
.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
.form-style-5 input[type="email"],
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {
        -webkit-transition: all 0.30s ease-in-out;
    -moz-transition: all 0.30s ease-in-out;
    -ms-transition: all 0.30s ease-in-out;
    -o-transition: all 0.30s ease-in-out;
    outline: none;
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 100%;
 /*   background: #fff;*/
/*    margin-bottom: 4%;*/
/*    margin-top: 4%;*/
  height: 40px;
    border: 1px solid #ccc;
    color: #555;
    font: 95% Arial, Helvetica, sans-serif;
/*    display: inline-block;*/
    max-width: 80%;
    margin:0 auto;
}

.form-style-5 input[type="text"]:focus,
.form-style-5 input[type="date"]:focus,
.form-style-5 input[type="datetime"]:focus,
.form-style-5 input[type="email"]:focus,
.form-style-5 input[type="number"]:focus,
.form-style-5 input[type="search"]:focus,
.form-style-5 input[type="time"]:focus,
.form-style-5 input[type="url"]:focus,
.form-style-5 textarea:focus,
.form-style-5 select:focus{
    border-color: #66afe9;
    outline: 0;
    -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
    box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(102, 175, 233, 0.6);
}
.form-style-5 select{
    -webkit-appearance: menulist-button;
/*    height:35px;*/
}
.form-style-5 .number {
    background: #1abc9c;
    color: #fff;
    height: 30px;
    width: 30px;
    display: inline-block;
    font-size: 0.8em;
    margin-right: 4px;
    line-height: 30px;
    text-align: center;
    text-shadow: 0 1px 0 rgba(255,255,255,0.2);
    border-radius: 15px 15px 15px 0px;
}

.form-style-5 input[type="submit"],
.form-style-5 input[type="button"],
.form-style-5 input[type="reset"]
{
    box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -moz-box-sizing: border-box;
    width: 26%;
    padding: 1%;
    background: #43D1AF;
    border-bottom: 2px solid #30C29E;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;    
    color: #fff;
    padding-left: 10px;

}
.form-style-5 input[type="submit"]:hover,
.form-style-5 input[type="reset"]:hover
{
   background: #2EBC99;
}

input.parsley-success,
select.parsley-success,
textarea.parsley-success {
  color: #468847;
  background-color: #DFF0D8;
  border: 1px solid #D6E9C6;
}

input.parsley-error,
select.parsley-error,
textarea.parsley-error {
  color: #B94A48;
  background-color: #F2DEDE;
  border: 1px solid #EED3D7;
}

.parsley-errors-list {
  margin: 2px 0 3px;
  padding: 0%;
  list-style-type: none;
  font-size: 0.9em;
  /* line-height: 0.9em; */
  opacity: 0;
  transition: all .3s ease-in;
  -o-transition: all .3s ease-in;
  -moz-transition: all .3s ease-in;
  -webkit-transition: all .3s ease-in;
}

.parsley-errors-list.filled {
  opacity: 1;
}
#alfakwasy, #czasGotowania, #iloscChmielu {
   text-align: center;
}
.form-style-5 fieldset div {
  margin-top:20px;
  padding:0px 6px 0px 6px ;
}

.form-style-5 fieldset label {
  width:130px;
}
#brew_styles {
  width:200px; text-align: center;
}

input.remove, input.addfields {
  margin-top: 20px;
}
.singleHop {
  margin-top: 60px;
}
  /*----  koniec 850px poprawic ------*/
}

  
/* 6.4 Max Width: 768px */
@media only screen and (max-width: 650px) {
  .mm-menu.mm-offcanvas {
    z-index: 1;
  }
  #menu {
    z-index: 1;
  }


  #page {
  margin-left:0px;
  }
  #loader
  {
        left:42%;
  } 

  .form-style-5 label {
    display:inline-block;
    *display: inline;     /* for IE7*/
    zoom:1;              /* for IE7*/
/*    float: left;*/
    height: 40px;
    padding-top: 5px;
    text-align: center;
}

  #alfakwasy, #czasGotowania, #iloscChmielu {
  width:100%; float:none;    text-align: center;
}

.form-style-5 input[type="text"],
.form-style-5 input[type="date"],
.form-style-5 input[type="datetime"],
/*.form-style-5 input[type="email"],*/
.form-style-5 input[type="number"],
.form-style-5 input[type="search"],
.form-style-5 input[type="time"],
.form-style-5 input[type="url"],
.form-style-5 textarea,
.form-style-5 select {

/*    display: inline-block;*/
    width: 100%;
}
#brew_styles {
  width:100%;
}

}
/* 6.3 Max Width: 580px */
@media only screen and (max-width: 580px) {
  body {
    max-width: 580px !important;
  }

  .form-style-5 input[type="submit"], .form-style-5 input[type="button"], .form-style-5 input[type="reset"] {
    background: #474948;
    border-bottom:2px solid #232827; 
    width: auto;
  }

}
/* 6.2 Max Width: 480px */
@media only screen and (max-width: 480px) {
  body {
    max-width: 480px;
  }

}
/* 6.1 Max Width: 320px */
@media only screen and (max-width: 320px) {
  body {
    max-width: 320px;
  }
}






