        <p><strong>Witam na stronie kalkulatora piwowarskiego</strong><br />
          Kalkulator bedzie rozbudowywany o nowe funcje. Wersja 1.1.<p>
		  </p>Masz pomysł na rozbudowanie kalkulatora, chciałbyś dodać nowe kalkulatory ?
		  Odezwij się a na pewno wdrożymy razem zmianę i pod kalkulatorem dodam informacje ze jesteś autorem danego wpisu lub funkcjonalności.
		  <p></p><b>kraczo@gmail.com</b> lub formularz na stronie.
		  <p>Pozdrawiam</p>


<!-- operacje na bazie danych cwiczenia
          {{list.person1.name}}</p> -->
<!--           <div id="angularTest">
                    <input ng-model="test">{test}
          </div>
 -->
<!--           <div ng-controller="AppCtrl">
          
          name<input name="name" ng-model="contact.name">
          email<input ng-model="contact.email">
          <button ng-click="addContact()">addContact</button>
          <button ng-click="update()">Update</button>
          <button ng-click="deselect()">Clear</button>

		          <div ng-repeat="contact in list">
		          <p>{contact.name}</p>
		          <p>{contact.email}</p><button ng-click="remove(contact._id)">Wywal</button><button ng-click="edit(contact._id)">Edytuj</button>

		          </div>
		  </div> -->
      </div>



