
 <script type="text/javascript" src="/public/js/script.js"></script>

<div class="form-style-5">
<form id="form1" class="form-wrapper" method="post" >
  <div id ="first">
    <label for="default_1">Placeholder</label><input id="default_1" class="placeholder" type="text" name="default_1" value="Default value" size="24" />
  </div>
  <div>
    <label for="req_1">Required</label>
    <input id="req_1" class="required" type="text" required name="req_1"  value="" size="24" />
  </div>
  <div>
    <label for="number">Number</label>
    <input id="number" class="required" type="text" name="number_1" required data-parsley-type="number" size="24" />
  </div>
  <div>
    <label for="email_1">E-mail</label>
    <input id="email_1" class="email" type="text" name="email_1" value="" size="24" />
  </div>
  <div>
    <label for="url_1">Url</label>
    <input id="url_1" class="url" type="text" name="url_1" value="" size="24" />
  </div>
  <div>
    <label for="select_1">Select</label>
    <select id="select_1" class="placeholder" name="select_1" size="1">
      <option value="">Default value</option>
      <option value="val2">Second value</option>
      <option value="val3">Third value</option>
      <option value="val4">Fourth value</option>
    </select>
  </div>
  <div id="buttons">
    <input type="submit" name="submit_1" value="Submit"  />
    <input type="reset" name="reset" value="Reset" />
  </div>
  
</form>
</div>
<div id="response">
</div>
